---
layout: default
---

        <div class="content-wrapper clearfix">

          <section class="main-content" role="main">
            <div class="main-content-source">
             {% for chapter in site.chapters %}
                <a name="{{ forloop.index }}"></a>
                <h1>{{ chapter.title }}</h1><!-- use h2 - why? why not? -->
                {{ chapter.content }}
             {% endfor %}         
            </div>
            <!-- 
            <nav class="main-content-nav clearfix" role="navigation">
              <ul>
                <li>[[ previous_link(data.tree) ]]</li>
                <li>[[ next_link(data.tree) ]]</li>
              </ul>
            </nav>
            -->
          </section>

          <aside id="sidr" class="aside-content" role="complementary">
            <div class="aside-wrapper">

              <div class="block table-of-contents">
                <h3>Table of Contents</h3>
                <nav role="navigation">
                  <ul>
                    
                    <!-- was: [[ tree_to_html(data.tree) ]] -->
                    {% for chapter in site.chapters %}
                      <li class="child">
                        <a href="#{{ forloop.index }}">{{ chapter.title }}</a>
                      </li>
                    {% endfor %}
                    
                  </ul>
                </nav>
              </div>

             

             

            </div><!-- end aside-wrapper -->
          </aside>

        </div><!-- end content-wrapper -->

