<!--div element add where you want the Multi Room Booking Calendar to appear.
    data-cid = "Your Calendar ID";
    data-width = "css width without px Let empty to append responsive software";
    data-height = "css height without px";
    data-local = "Language ID Let empty to append language menu";
    data-room = "room number or auto to show room menu";
    data-background = "css color without #";
  -->
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container" id="reserve">
    <div class="row">

      {{ with .Site.Params.reserve }}
      <div class="col-md-6">
        <div class="block">
          <h2>{{ .title }}
          <i class="fa fa-cc-visa"></i> <i class="fa fa-cc-mastercard"></i> <i class="fa  fa-credit-card"></i> <i class="fa fa-paypal"></i>
          </h2>
          <!-- <p>{{ .paragraph }}</p> -->
          <div class="container" id="hack">
            <div class="row" style="text-align:center">
              <div class="col-sm-4" id="cercle_vert">Available:2</div>
              <div class="col-sm-4" id="cercle_jaune">Available:1</div>
              <div class="col-sm-4" id="cercle_red">Available:0</div>
            </div>
          </div>
          <!-- calendrie widget -->
          <div  id="div_mrbc_software" data-cid="{{ .cid }}" data-local="1" data-room="auto" ></div>
        </div>
      </div>
      {{ end }}

      <div class="col-md-6">
        <div class="block">
          {{ with .Site.Params.call }}
            <h2>{{ .title }}</h2>
            <p>{{ .paragraph }}</p>
            {{ with .button }}
              <a class="btn btn-default btn-call-to-action" href="{{ .url }}" >{{ .text }}</a>
            {{ end }}
            <img src="/img/cocoon_montagnes-mini.jpg"><p>
          {{ end }}

          {{ with .Site.Params.reserve }}
            <h3>{{ .checkin }}</h3>
            <div id="spam-warning">{{ .warning_spam_title }}</div>
            <p>{{ .warning_spam_fr }}</p>
            <p>{{ .warning_spam_en }}</p>
          {{ end }}

        </div>
      </div>

    </div>
  </div>
</section>
