<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="block">
          <h1 class="animated fadeInUp text-uppercase">{{ .Site.Params.slider.title | safeHTML }}</h1>
          <p class="animated fadeInUp">{{ .Site.Params.slider.subtitle | safeHTML }}</p>
          {{ with .Site.Params.feature.button }}
            <a href="{{ .url }}" class="btn btn-view-works">{{ .caption }}</a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
