<!-- Slider Start -->
<section id="webcam">
    <div class="container">
        <!-- Partie texte -->
        <div class="row">
            <div class="section-title text-center">
                {{ if or .Site.Params.webcam.enableimage .Site.Params.webcam.enablestream }}
                    {{ .Content }}
                {{ else if .Site.Params.webcam.enableimagefixe }}
                    <h2>{{ .Site.Params.webcam.titleimagefixe }}</h2>
                    <h3>{{ .Site.Params.webcam.subtitleimagefixe }}</h3>
                {{ else }}
                    <h2>Please come back later. Webcam is offline</h2>
                {{ end }}
            </div>
        </div>

        <div id="live-warning">{{ .Site.Params.webcam.webcamwarning }}</div>

        <!-- Image FIXE récupérée directement sans passer par les iframes mangocam -->
        <!-- source https://www120.mangocam.com/c/campingarollaimage/img.php -->
        {{ if .Site.Params.webcam.enableimagefixe }}
        <script language="JavaScript">
            function iload() {
                var cdate = new Date();
                if (mangocam.complete) {
                    document.mangocam.src = "{{ $.Site.Params.webcam.urlimagefixe }}?w=1280&h=720&t=" + cdate.getTime();
                    }
                setTimeout('iload()',1000);
                }
            setTimeout('iload()',1000);
        </script>

        <div class="row">
            <div class="col-md-12 ">
                <div class="block text-center">
                    <img src="{{ $.Site.Params.webcam.urlimagefixe }}" name='mangocam'>
                </div>
            </div>
        </div>
        {{ end }}

        <!-- Partie Image fixe avec rafraichissment mangocam -->
        <!-- src="https://www.mangocam.com/c/campingarollaimage/frame.php" -->
        {{ if .Site.Params.webcam.enableimage }}
        <div class="row">
            <div class="col-md-12 ">
                <div class="block text-center">
                    {{ if .Site.Params.webcam.enablestream }}
                        <h3>{{ .Site.Params.webcam.subtitleimagestream }}</h3>
                    {{ end }}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                style="border-style: none;"
                                src="{{ $.Site.Params.webcam.server }}/{{ $.Site.Params.webcam.accountimage }}/{{ $.Site.Params.webcam.address }}"
                                name="frameimage"
                                width="{{ $.Site.Params.webcam.sizeximage }}" height="{{ $.Site.Params.webcam.sizeyimage }}"
                                scrolling="yes" frameborder="1">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}

        <!-- Partie Stream vidéo -->
        {{ if .Site.Params.webcam.enablestream }}
        <div class="row">
            <div class="col-md-12 ">
                <div class="block text-center">
                    <h3>Live stream</h3>
                    <iframe style="border-style: none;"
                        src="{{ $.Site.Params.webcam.server }}/{{ $.Site.Params.webcam.accountstream }}/{{ $.Site.Params.webcam.address }}"
                        name="framestream"
                        width="{{ $.Site.Params.webcam.sizexstream }}" height="{{ $.Site.Params.webcam.sizeystream }}"
                        scrolling="no" frameborder="1">
                    </iframe>
                </div>
            </div>
        </div>
        {{ end }}
    <p></p>
    </div>
</section>

<!-- timelapse -->
{{ if and (isset .Site.Params "webcam") (.Site.Params.webcam.enabletimelapse) }}
    {{ partialCached "timelapse.html" . }}
{{ end }}

<!-- Zone meteo avec la Webcam désormais -->
{{ if and (isset .Site.Params "meteo") (.Site.Params.meteo.enable) }}
    {{ partialCached "meteo.html" . }}
{{ end }}
