<!DOCTYPE html>
<html>
<head>

	{{ partialCached "head.html" . }}

</head>
<body>

	{{ partialCached "header.html" . }}

	{{ if and (isset .Site.Params "slider") (.Site.Params.slider.enable) }}
		{{ partialCached "slider.html" . }}
	{{ end }}

	{{ if and (isset .Site.Params "wrapper") (.Site.Params.wrapper.enable) }}
		{{ partial "wrapper.html" . }}
	{{ end }}

	{{ partialCached "portfolio.html" . }}

	{{ if and (isset .Site.Params "feature") (.Site.Params.feature.enable) }}
		{{ partialCached "feature.html" . }}
	{{ end }}


	{{ if and .Site.Data.service .Site.Data.service.enable }}
		{{ partialCached "service.html" . }}
	{{ end }}

	{{ if and (isset .Site.Params "call") (.Site.Params.call.enable) }}
		{{ partialCached "call-to-action.html" . }}
	{{ end }}

	{{ if .Site.Data.testimonial.enable }}
		{{ partialCached "testimonial.html" . }}
	{{ end }}

	{{ partialCached "footer.html" . }}

</body>
</html>
